/* importing Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --bg: #352D39;
    --white: #F1EDEE;
    --red: #F76C5E;
}

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var(--white);    
}

body{
    background-color: var(--bg);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    width: 80%;
    border: 2px solid var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

#about-me-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

#about-me-container img{
    width: 40%;
    height: 40%;
    border-radius: 50%;
    border: 3px dashed var(--white);
}

#about-me-container h1{
    padding-top: 1rem;
    font-size: 2rem;
}

#about-me-container p{
    font-size: 1.1em;
    font-weight: 700;
}

#link-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0.3rem;
}

#link-container a{
    cursor: pointer;
    padding: 0.3rem;
    margin-top: 0.3rem;
    margin-right: 0.5rem;
    background-color: #F76C5E;
    border-radius: 7%;
}

#link-container a img{
    padding: 0.3rem;
}
